@model  Supinfy.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_AuthLayout";
}

<h2>Log in</h2>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            <br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            <br />
            <input type="submit" class="btn btn-primary btn-block" value="Log in" />
        }
    </div>
</div>

<hr style="width: 600px;"/>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
        <h4>Don't have an account yet ?</h4>

        <a class="btn btn-primary btn-block" href="@Url.Action("Register")">Register</a>
    </div>
</div>